{% load static %}
<!doctype html>
<html lang="en">
  <head>

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'flaashCollectables/css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Flaash Collectables Logo</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light " id="ftco-navbar">
		    <div class="container">
		    	<div class="container align-items-center">
		      <div class="collapse navbar-collapse" id="ftco-nav">
		        <ul class="navbar-nav ml-auto mr-md-3">
		        	<li class="nav-item"><a href="#" class="nav-link">Pokemon TCG</a></li>
		        	<li class="nav-item"><a href="#" class="nav-link">Sports Cards/Stickers</a></li>
		        	<li class="nav-item"><a href="#" class="nav-link">Funko</a></li>
		        	<li class="nav-item"><a href="#" class="nav-link">Other TCG's</a></li>
		          <li class="nav-item"><a href="#" class="nav-link">Accessories</a></li>
		          <li class="nav-item"><a href="#" class="nav-link">Sale</a></li>
		          <li class="nav-item"><a href="#" class="nav-link">Coming Soon</a></li>
		          <li class="dropdown nav-item d-md-flex align-items-center">
              </li>
		        </ul>
		      </div>
		    </div>
		  </div>
		  </nav>
    <!-- END nav -->
  </div>

	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

