{% extends 'flaashCollectables/base.html' %}
{% load static %}

{% block title %}
<title>Flaash Collectables | Online UK Collectables Store</title>
{% endblock title %}

{% block content%}

<div class="container-flex" style="max-width: 1000px; height: auto; padding-top: 5px;">
	
	<!-- START BUY/SELL SECTION -->
	<div class="row" style="padding: 0 15px;">
		<div class="column">
			<div class="image">
				<img class="image__img" src="{% static 'flaashCollectables/images/Astral-RadianceTile.jpg' %}" alt="Astral Radiance">
				<div class="image__overlay">
					<div class="image__title">Astral Radiance</div>
					<p class="image__description">Shop Here Now!</p>
				</div>
			</div>
		</div>
		<div class="column" style="width:  2%; height: 400px;"></div>
		<div class="column">
			<div class="image">
				<img class="image__img" src="{% static 'flaashCollectables/images/SellToUsTile.jpg' %}" alt="Sell To Us">
				<div class="image__overlay">
					<div class="image__title">Sell To Us</div>
					<p class="image__description">We Will Buy Your Unwanted Cards!</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="height: 15px; width: 100%;"></div>

	<!-- END BUY/SELL SECTION -->
	<div class="container__tile">
		<div style="font-size: 1.75em;">
			FLAASH COLLECTABLES
			<hr class="solid">
		</div>
	</div>

	<div class="container" style="height: 15px; width: 100%;"></div>
	
	<div class="container__tile" style="height: 100px;">
		<div>
			<img class="image__img" src="{% static 'flaashCollectables/images/HomeBannerTile.jpg' %}" alt="Home Banner" style="height: 100px;">
		</div>
	</div>

	<div class="container" style="height: 15px; width: 100%;"></div>

	<div class="container__tile" style="height: 400px;">EXAMPLE ITEMS FOR SALE
	</div>

	<div class="container" style="height: 15px; width: 100%;"></div>

</div>
{% endblock %}